
    {id_names_and_values_no_const}

    {has_root_mapping}
    {forloopstart}
        {root_canvas_group}            
        {canvas_groups}
        {texts}
        {images}

        {buttons_no_event}
        {toggles_no_event}
    {forloopend}